*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: white;
}
body{
    height: 100vh;
    width: 100%;
    background-image: url(https://assets.nflxext.com/ffe/siteui/vlv3/435e8bb8-7f1b-49cb-8da8-bff997124294/web/AZ-en-20260511-TRIFECTA-perspective_3424c14f-a3a5-4543-9c92-91898b73d492_large.jpg);
}
.head1{
    height: 10vh;   
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top:20px ;
}
.netf{
    color: red;
    font-size: 37px;
    font-weight: bold;
    margin-left: 15px;
}
#countries{
    padding: 12px;
    background-color:rgb(22, 21, 21);
    border-radius: .5rem;
    width: 120px;
}
.b1{
padding: 12px;
background-color: red;
border-radius: .5rem;
margin-right: 15px;
}
.main-content{
    height: 90vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 10px;
    text-align: center;
}
.h1{
    font-size: 50px;
    font-weight: bold;
}
h3{
    font-size: 35px;
    font-weight: 800;
}
h6{
    font-size: 25px;
    font-weight: 700;
}
.input{
    padding: 15px;
    background-color: black;
    opacity: .6;
    color: grey;
    width: 400px;
    border:1 px solid grey;
    border-radius: .8rem;
    font-size: 20px;
}
.b2{
   padding: 13px;
    border-radius:.5rem;
    width: 230px;
    background-color: red;
  font-size: 20px;
}
.container{
    height: 305vh;
    width: 100%;
    background-color: black;
    padding: 10px 16px;
}
.cont1{
    height: 60vh;
}
.trend{
    height: 10vh;
    font-size: 20px;
    font-weight: 900;
    padding:10px 20px;
}
.carts{
    display: flex;
    gap: 20px;
}
.cont2{
    height: 60vh;
}
.reasons{
    height: 10vh;
    font-size: 20px;
    font-weight: 900;
    padding:10px 20px;
}
.box{
    height:300px;
    width: 400px;
    background-color: rgb(1, 1, 44);
    opacity: .7;
    text-align: justify;
    padding:15px 15px 150px 15px;
    border-radius: 2rem;
}
.boxes{
    height: 130vh;
    display: flex;
    gap: 50px;
}
.h{
    color:white;
    font-size: 25px;
}
.h2{
    color: grey;
    font-size: 19px;
}
.cont3{
    height: 90vh;
}
.asked{
    height: 10vh;
    font-size: 20px;
    font-weight: 900;
    padding:10px 20px;
}
.buttons{
    display: grid;
    grid-template-columns:95%;
    grid-auto-rows: 10vh;
    gap: 5px;
    padding-left: 30px;
}
.but{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding:15px;
    font-size: 30px;
    background-color: rgb(51, 50, 50);
    font-weight: 200;
    border: none;
}
.cont4{
    height: 30vh;
    text-align: center;
}
.ready{
    height: 10vh;
    font-size: 25px;
    font-weight: 250;
}
.inform{
    height: 20vh;
}
.input1{
    height:52px;
    background-color: rgb(27, 26, 26);
    border: 1px solid rgb(224, 220, 220);
    font-size: 20px;
    padding: 10px;
    width: 400px;
    border-radius: .5rem;
}
.cont5{
    height: 40vh;
}
.head-a{
    height: 10vh;
    text-decoration: underline;
    color: grey;
    padding:10px 100px;
}
.a-tags{
    text-align: center;
    display:grid;
    grid-template-columns:repeat(4,120px);
    grid-auto-rows: 30px;
    row-gap: 20px;
    column-gap: 120px;
    text-decoration: underline;
    color: grey;
  padding:10px 100px;
}
a{
    color: grey;
}
.cont6{
    height: 10vh;
    padding-left: 115px;
}
.cont7{
    height:10vh;
    padding-left: 120px;
}
.h66{
    color: grey;
    font-size: 16px;
}